In [ ]:
#W6A1
chuoi=list(map(int,input().split()))
kq=[]
for x in chuoi:
  if x not in kq:
    kq.append(x)
print(kq)

1 2 3 2 4 5
[1, 2, 3, 4, 5]

In [ ]:
#W6A2
chuoi=list(map(int,input().split()))
kq=[]
tong=0
for x in chuoi:
  tong+=x
  kq.append(tong)
print(kq)

0 0 0
[0, 0, 0]

In [ ]:
#W6A3
chuoi=list(map(int,input().split()))
n=int(input())
kq=(chuoi[n:]+ chuoi[:n])
print(tuple(kq))

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#W6A4
s=input().split()
d={}
for doi in s:
  key,val=doi.split(":")
  if key not in d:
    d[key]=[]
  d[key].append(val)
print(d)

a:1 b:2 a:3
{'a': ['1', '3'], 'b': ['2']}

In [ ]:
#W6A5
chuoi=list(map(int,input().split()))
dem=0
d={
    "positives":0,
    "negatives":0,
    "zeros":0
}
for i in chuoi:
  if i>0:
    d["positives"]+=1
  elif i<0:
    d["negatives"]+=1
  else:
    d["zeros"]+=1
print(d)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 0}

In [ ]:
#W6A6
m=list(map(int,input().split()))
tong=0
for i in m:
  tong+=i
print(tong)

1 2 3 4
10

In [ ]:
#W6A7
n=list(map(str,input().split()))
dao=n[::-1]
print(n[0],n[-1],tuple(dao))

5 8 2 7 1 4
5 4 ('4', '1', '7', '2', '8', '5')

In [ ]:
#W6A8
chuoi=list(map(str,input().split()))
kq={}
for i in chuoi:
  if i not in kq:
    kq[i]=1
  else:
    kq[i]+=1
print(kq)

apple banana apple
{'apple': 2, 'banana': 1}

In [ ]:
#W6A9
n = eval(input())
m = eval(input())
d={}
for k in n:
  d[k]=n[k]
for k in m:
  if k in d:
    d[k]+=m[k]
  else:
    d[k]=m[k]
kq={}
for k in sorted(d):
  kq[k]=d[k]
print(kq)

{'a': 1, 'b': 2}
{'c': 3, 'b': 4}
{'a': 1, 'b': 6, 'c': 3}

In [ ]:
#W6A10
m=list(map(int,input().split()))
n=int(input())
kq=[]
a=len(m)
for i in range(a):
  for j in range(i+1,a):
    if m[i] + m[j] == n:
      kq.append((m[i],m[j]))
kq.sort(key= lambda x:x[0])
print(kq)

1 2 3 4 5
6
[(1, 5), (2, 4)]

In [ ]:
#W6A11
m=tuple(map(int,input().split()))
chan=[]
le=[]
for i in m:
  if i % 2 ==0:
    chan.append(i)
  else:
    le.append(i)
print(tuple(chan))
print(tuple(le))

1 10 2 9 3 8 4 7 5 6
(10, 2, 8, 4, 6)
(1, 9, 3, 7, 5)

In [ ]:
#W6A12
chuoi=list(map(int,input().split()))
dem={}
for i in chuoi:
  if i in dem:
    dem[i]+=1
  else:
    dem[i]=1
max_dem=0
for i in dem:
  if dem[i] >max_dem:
    max_dem=dem[i]
kq=None
for i in dem:
  if dem[i]== max_dem:
    if kq is None or i < kq:
      kq=i
print(kq)

5 5 5 1 1 1 8 9
1

In [ ]:
#W6A13
m=list(map(str,input().split()))
d={}
for i in range(0,len(m),2):
  d[m[i]]=m[i+1]
dao={}
for k,v in d.items():
  dao[v]=k
print(dao)

a 1 b 2 c 3
{'1': 'a', '2': 'b', '3': 'c'}

In [ ]:
#W6A14
m=list(map(int,input().split()))
n=list(map(int,input().split()))
kq=[]
for i in m:
  if i in n:
    kq.append(i)
new=set(kq)
print(list(new))

1 2 3 4 5

[]

In [ ]:
#W6A15
m=input().split()
k=int(input())
d={}
new={}
for i in range(0,len(m),2):
  d[m[i]]=int(m[i+1])
for key,val in d.items():
  if val > k:
    new[key]=val
print(new)

math 95 science 88 english 92
90
{'math': 95, 'english': 92}

In [ ]:
#W6A16
n,m = map(int,input().split())
a=[]
for i in range(n):
  row=list(map(int,input().split()))
  a.append(row)
for i in range(n):
  for j in range(m):
    print(f"{a[i][j]:4}",end="")
  print()

2 3
3 4 5
6 7 8
   3   4   5
   6   7   8

In [ ]:
#W6A17
n=int(input())
a=[]
for i in range(n):
  row = list(map(int,input().split()))
  a.append(row)
print("Đường chéo chính: ")
for i in range(n):
  print(a[i][i],end=' ')
print()
print("Đường chéo phụ: ")
for i in range(n):
  print(a[i][n-1-i],end=" ")

3
1 2 3
4 5 6
7 8 9
Đường chéo chính:
1 5 9
Đường chéo phụ:
3 5 7

In [3]:
#W6A18
n,m,k=map(int,input().split())
a=[]
for i in range(n):
  row = list(map(int,input().split()))
  a.append(row)
tong_hangk=sum(a[k-1])
tong_cotk=0
for i in range(n):
  tong_cotk +=a[i][k-1]
print(tong_hangk,tong_cotk)

3 4 2
1 2 3 4
5 6 7 8
1 2 3 4
26 10

In [7]:
#W6A19
m=list(map(int,input().split()))
print(m.index(max(m))+1)

1 2 3 4 5 6 7 8 19
9

In [10]:
#W6A20
m=list(map(int,input().split()))
k=int(input())
if k in m:
  print(m.index(k)+1)
else:
  print(-1)

1 2 3 4 5 6 7 8 19 1 2 3 4 5
5
5

In [21]:
#W6A21
m=input().split()
d={}
for i in range(0,len(m)):
  if m[i] not in d:
    d[m[i]]=[]
  d[m[i]].append(i)
for key in d:
  d[key]=tuple(d[key])
print(d)

a b a c b a
{'a': (0, 2, 5), 'b': (1, 4), 'c': (3,)}

In [22]:
#W6A22
m=list(map(int,input().split()))
print(m.index(max(m))+1)

34 25 67 89 100 1000
6